WebAppXMLParser/WebApp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="interface">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="package" maxOccurs="1" minOccurs="0"/>
        <xs:element name="superclass">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="class"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="include" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="abstract_method" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="access" minOccurs="0" maxOccurs="1"/>
              <xs:element name="parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="argument" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="type" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="throws" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="exception" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="return" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>